/*top dashboard bar styles*/
.topbar {
  width: 100%;
  margin: 3px 1px 10px 1px;
  padding: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #f4f4f4;
}

.topbar-font {
  font-weight: bold;
}

.topbar .tone {
	font-weight: bolder; 
	text-transform: uppercase; 
	color: #0996fc;
}

.topbar .tone2 {
	color: #fd3644;
	text-transform: capitalize;
}

/*left side menu style*/

.left-menu ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.left-menu ul > li {
	background-color: #f4f4f4;
  	color: #0996fc;
  	margin: 0 0 2px;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  	word-wrap: break-word;
}

.left-menu ul > li a {
	color: #0996fc;
	display: block;
	padding: 7px;
	text-decoration: none;
	text-transform: capitalize;
}

.left-menu ul > li a:hover {
	color: #fff;
	background-color: #fd3644;
}

/*column 3 bg img*/

.col3-bg {
	background-image: url(../images/right.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/*users information area*/

.pad-row {
	margin: 1px;
}
.pad {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #f9f9f9;
}

.pad p {
	vertical-align: middle;
	padding: 10px;
	text-transform: capitalize;
}

/*profile pad image cover to center*/

.profile-pad-cover {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.profile-pad {
	width: 100px; 
	height: 100px; 
	border-radius: 50%; 
	margin: 10px;
}

.form-pad {
	margin-top: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}






















