@media screen and (max-width: 943px){

.unav {
	display: none;
}

.search {
	display: none;	
}

.social {
	display: none;
}

.menu-cover {
	width: 100%;
}

.menu-list {
	
	font-size: 40px;
	display: inline-block;
	float: right;
}

.menu-list button {
	border-radius: 5px;
	/*display: inline-block;*/
	padding: 5px;
	color: #0996fc;
	border-style: none;
}

.menu-list button:hover {
	background-color: #fd3644;
	color: #fff;
}

/*menu left panel when menu list toggled on sm-screen*/
.menubgleft {
	z-index: 10;
  	width: 280px;
  	padding: 5px;
  	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  	background-color: #f9f9f9;
  	position: absolute;
}

.menubgleft ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menubgleft ul > li {
  display: block;
  justify-content: center;
  margin: 0 0 2px;
  background-color: #f4f4f4;
  color: #0996fc;
}

.menubgleft ul > li:last-child {
	margin-bottom: 15px;
}

.menubgleft ul > li a {
	padding: 3px 15px;
	display: block;
	text-decoration: none;
	color: #0996fc;
}

.menubgleft ul > li a:hover {
	background-color: #fd3644;
	color: #fff;
}

.contact-lg {
	display: none;
}

.contact-sm {
	display: block;
}

/**/
}
/*end of screen 943px*/



@media screen and (max-width: 992px){

/*about us section small screen model*/




}














