* {
	box-sizing: border-box;
}
html {
	background: #e6e9e9;
	background-image: lineer-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
	-webkit-font-smoothing: antialiased;
}
body {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
	background-color: #fff;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	/*padding: 2em 2em 4em;*/
	/*max-width: 800px;*/
	color: #545454;
}

/*headings styling*/

h1, h2, h3, h4, h5, h6 {
	color: #0996fc;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 0;
}

/*header panel*/
.header {
	margin: 0 0 9px;
	padding: 0 29px 12px 42px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	background-color: #f9f9f9;
}

/*logo*/
.logo {
	height: 45px;
	/*margin: 0 646px 18px 0;*/
}


/*navigation top menu code on wide screen*/

.unav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.uli {
	float: left;
	margin: 0;
}

.uli a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 3px 15px;
	background-color: #0996fc;
	margin: 5px;
	color: #fff;
	/*font-weight: bold;*/
}

.uli a:hover {
	background-color: #fd3644;
}

/*the two last login and registration class*/
.log {
	
}
.log:last-child {
	float: right;
}

/*override of bootstrap btn class*/

.btn {
	background-color: #0996fc;
}

.btn:hover {
	background-color: #fd3644;
	border: 1px solid #333;
}

/*empty search class that is hidden when on smaller screen*/

.search {

}

/*menu list class set to hidden on wide screen and displayed on small screen*/
.menu-list {
	display: none;
}

/*hide small screen menu bar on large screen*/

.menubgleft {
	display: none;
}

.subfooter {
	margin-bottom: 5px;
  	padding-top: 10px;
  	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  	background-color: #f9f9f9;
}

.contact-sm {
	display: none;
}

.contact-lg {
	display: block;
}

footer {
	margin-top: 11px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul>li a {
	text-decoration: none;
	color: #545454;
}

footer hr {
	margin: 5px;
	color: red;
}

.footer-bottom {
  	background-color: #45aefb;
}

.footer-bottom p {
	text-align: center;
	padding: 16px;
	font-weight: bold;
	color: #fff;
}


/*slider*/

.owl-carouselz{
	width: 100%;
	height: 50vh;
}

.slide {
	width: 100%;
	height: 50vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.slide::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.slide-1 {
	background-image: url(../images/banner.jpg);
}

.slide-2 {
	background-image: url(../images/banner2.jpg);	
}

.slide-3 {
	background-image: url(../images/banner3.jpg);	
}

.slide-content {
	text-align: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 20%;
	align-content: #fff;
}

.slide-content h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	text-transform: uppercase;
}

.slide-content p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	color: #fff;
}

.slide-content button {
	font-family: 'Roboto', serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	padding: 5px 10px;
	border: none;
	color: #0996fc;
}

.slide-content button:hover {
	background-color: #fd3644 !important;
	color: #fff !important;
}

.owl-dots {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 1%;
}

.owl-dots span {
	width: 20px !important;
	height: 20px !important;
}

.owl-dots button {
	border: none !important;
	outline: none !important;
}

.owl-dots button:hover {
	background-color: #fd3644 !important;
	color: #333 !important;
	border-radius: 50%;
}

.owl-nav button {
	border: none !important;
	outline: none !important;
}

.owl-nav button:hover {
	background-color: #fd3644 !important;
	color: #333 !important;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 28%;
	transform: translate(-50%);
	color: #fff !important;
	font-size: 65px !important;
	font-weight: bolder !important;
	background-color: none !important;
}

.owl-prev {
	left: 1%;
}

.owl-next {
	right: 1%;
}

.about-section-left {
	border-left: solid 1px #fd3644;
}

.about-section-left p {
	text-align: justify;
}

.about-section-left a {
	font-family: 'Roboto', serif;
	font-size: 15px;
	text-transform: capitalize;
	padding: 5px 10px;
	border: none;
	background-color: #0996fc;
	text-decoration: none;
	color: #fff;	
}

.about-section-left a:hover {
	background-color: #fd3644;
	color: #fff;
}


.story-area {
	background-color: #f4f4f4;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	margin-bottom: 15px;
	padding: 20px; 
}

.story-area p {
	padding: 50px;
	background-color: #fff;
	border-radius: 6px;
	color: #333;
	text-align: justify;
	max-height: 300px;
	overflow: hidden;
	text-indent: 30px;
}

.story-area p:first-letter {
	font-weight: bolder;
	color: #fd3644;
}

.story-a {
	font-family: 'Roboto', serif;
	font-size: 15px;
	text-transform: capitalize;
	padding: 5px 10px;
	border: none;
	background-color: #0996fc;
	text-decoration: none;
	color: #fff;
}

.story-a:hover {
	background-color: #fd3644;
	color: #fff;
}

.story-area:first-child {
	border-top-right-radius: 30px;
	border-right:2px  solid #fd3644;
}

.story-area:last-child {
	border-bottom-left-radius: 30px;
	border-left: 2px solid #fd3644;
}

.story-head-a {
	color: #fd3644;
	text-decoration: none;
}

.story-head-a:hover {
	color: #0996fc;
	text-decoration: underline;
}

.comment {
	display: none;
}

.explore p {
	text-transform: capitalize;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px #0996fc;
	padding: 5px;
}

/*pages background style with image*/

.pagebg {
	width: 100%;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;

}
/*about us content style*/
.body-content {
	background-color: #fff;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
}
/*contact us layout and login content*/
.contact-content {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	background-color: #fff;
	margin-top: 20px;
	padding-top: 30px;
	border-radius: 10px;
}

/*container for register images*/
.reg {
	width: 70%;
	margin: auto;
}

/* login background*/
.loginbg {
	background-image: url("../images/secure.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 150px;

}

.loginForm {
	width: 60%;
	margin: auto;
}

.loginForm form > input, .form-group {
	margin: 2px;
}

input[type="submit"] {
	text-align: center;
	padding: 5px 20px;
	background-color: #0996fc;
	margin: 5px;
	color: #fff; 
	border:none;
	border-radius: 3px;
}

input[type="submit"]:hover {
	background-color: #fd3644;
	color: #fff;
	border: none;
}









